spring:
  profiles:
    active: dev
  config:
    import: optional:file:.env[.properties]

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
      base-path: /actuator
  endpoint:
    health:
      show-details: always

logging:
  level:
    org:
      springframework:
        security: DEBUG
        web: INFO
    com:
      demo:
        TaskManager: INFO
